body {
  font-family: 'M PLUS 1 Code', monospace;
  color: white;
  background-color: #333;
  padding: 10px;
  width: 500px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

input, button, label {
  margin: 10px 0;
  width: 100%;
  font-size: 18px;
}

#options {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label span {
  margin-left: 5px;
}

#fps-slider {
  width: 100%;
}

#output-frame {
  width: 482px;
  height: 412px;
  border: none;
  margin-top: 10px;
}

#output {
  font-size: 14px;
  color: lightgreen;
  margin-top: 10px;
}