/* 簡単なcss */
body {
  background: #000000;
  color: #ffe626;
  font-family: sans-serif;
  padding: 2px;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

a {
  display: block;
  padding: 10px 12px;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.2s;
  font-size: 14px;
}

#countdown {
  font-size: 24px;
  font-weight: bold;
}